<h5 class="title is-5" *ngIf="isSaveAsSubCategory">
  Add Sub Category To => {{currentCategory.name}}
</h5>
<h5 class="title is-5" *ngIf="!isSaveAsSubCategory">
  New Master Category
</h5>

<form #catform="ngForm">
  <input type="text" ngModel name="category">
  <button class="button is-small is-primary" (click)="save(catform)">Save</button>

  <button class="button is-small" (click)="cancel()">Cancel</button>
</form>


<h5 class="title is-5">Category List</h5>

<!-- <table class="table">
  <tbody>
    <tr *ngFor="let cat of categories">
      <td> {{cat.name}}</td>
      <td>{{cat.children|json}}</td>
      <td>
        <button (click)="addSubCategory(cat)" class="button is-small is-success">+</button>
      </td>
    </tr>
  </tbody>
</table> -->

<ul class="top-cat">
  <li *ngFor="let cat of categories">
    <app-category-item [category]="cat" (onAdd)="addSubCategory($event)"></app-category-item>
  </li>
</ul>