<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a class="navbar-item" routerLink=""> App </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable" routerLinkActive="active">
              <a class="navbar-link">
                  Admin
              </a>
              <!-- <div class="navbar-dropdown" routerLinkActive="active">
                  <a class="navbar-item" routerLink="input" routerLinkActive="active">
                      Input
                  </a>
                  <a class="navbar-item" routerLink="ngfor" routerLinkActive="active">
                      Ng For
                  </a>
                  <a class="navbar-item" routerLink="property-binding" routerLinkActive="active">
                      Property Binding
                  </a>
                  <a class="navbar-item" routerLink="interpolation" routerLinkActive="active">
                      interpolation
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" routerLink="container" routerLinkActive="active">
                      container
                  </a>
              </div> -->

          </div>
      </div>
      <div class="navbar-end">
          <a class="navbar-item" routerLink="/">
              Logout
          </a>
      </div>
  </div>
</nav>