.sub-cat {
    margin-left:10px;
     li {
        color:black;
     }
}
.item {
    margin:2px;
}

.plus {
    border: none;
    border-radius: 38%;
    background: #d6f0f9;
    color: black;
    font-size: 13px;

}